.button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #9482d2;
  outline: none;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 5.5s ease-out 0.1s;
  overflow: hidden;
}

.button:hover {
  border-color: transparent;
}

.btnstatic {
  display: block;
}

.btnhover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button:hover .btnstatic {
  opacity: 0;
  transform: translateY(-70%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}
.button:hover .btnhover {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.btncontainer {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.line1 {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #17f1d1;
  stroke-width: 3px;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  transition: stroke-dashoffset 0.5s ease-in;
}

.line2 {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #ffd074;
  stroke-width: 3px;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  transition: stroke-dashoffset 0.5s ease-in;
  transition-delay: 0.1s;
}

.line3 {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #fafaf6;
  stroke-width: 3px;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  transition: stroke-dashoffset 0.5s ease-in;
  transition-delay: 0.2s;
}

.line4 {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #9482d2;
  stroke-width: 3px;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  transition: stroke-dashoffset 0.5s ease-in;
  transition-delay: 0.2s;
}

.button:hover .line1,
.button:hover .line2,
.button:hover .line3,
.button:hover .line4 {
  stroke-dashoffset: 0;
}
